@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Montserrat:wght@300;500;600&family=Outfit:wght@200;300;400&family=Poppins:wght@300;400;500;600;700&family=Tangerine&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Comfortaa;
}

:root{
    --clr-orange: #FE675D;
    --clr-orange-dark: #ff483b;
    --clr-purple: #D90077;
    --clr-magnolia: #EFE9F4;
    --clr-charcoal: #383F51;
    --clr-jungle-green: #21A366;
    --clr-excel-green: #10793f44;
    --clr-blue: #3F97DE;
}

body{
    /* background: linear-gradient(to right, var(--clr-charcoal) 30vw, var(--clr-orange-dark)); */
    /* background-repeat: no-repeat; */
    /* background-repeat: repeat-x;
    /* background-image: url(./assets/mysqlpng.jpg); */
    background-color: var(--clr-magnolia);
    /* background-image: url(../assets/mysql.png);
    background-size: contain; */
}

.logo{
    font-size: 1.5rem;
}

.logo span {
    color: var(--clr-orange-dark);
    font-size: 2rem;
    display: inline-flex;
    transform: rotate(-38deg);
    font-weight: 700;
    margin-right: 2px;
}

#dot{
    margin-left: -2px;
}

.nav-icons{
    display: flex;
    justify-content: space-between;
    color: var(--clr-orange-dark);
    font-size: 1.6rem;
}

.icon-link{
    color: var(--clr-orange-dark);
}

.orange{
    color: var(--clr-orange-dark);
}

nav{
    position: sticky;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255,255,255,0.95);
    backdrop-filter: blur(3px);
    padding: 1rem 4rem;
    z-index: 10;
}
